@use '../app';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: app.$primary-color;
    border-radius: 4px;
    border: none;
    color: #FFF;
    padding: 12px 16px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.button:hover {
    background: app.$secondary-color;
}