.bookSnippet {
    display: flex;
    width: 100%;
    height: 218px;

}

.bookSnippet__link {
    display: flex;
    width: 100%;
    text-decoration: none;
    border: 1px solid #EAEAEF;
    box-shadow: 0 1px 4px rgba(26, 26, 67, 0.1);
    border-radius: 4px;
}

.bookSnippet__link:hover {
    border: 1px solid #4945FF;
}

.bookSnippet__cover {
    padding: 10px;
    height: 100%;
    width: 148px;
    box-sizing: border-box;
    background-size: cover;
}

.bookSnippet__content {
    display: grid;
    grid-template-rows: auto minmax(18px, 1fr) auto;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    row-gap: 5px;
}

.bookSnippet__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A6A;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookSnippet__author {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8E8EA9;
    overflow-y: hidden;
    max-height: 100%;
    text-overflow: ellipsis;
}

.bookSnippet__category {
    display: flex;
    justify-self: end;
    align-self: end;
    padding: 0 6px;
    background: #EAEAEF;
    color: #4A4A6A;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}