.searchForm {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
  padding: 0;
  width: 85%;
}

@media (min-width: 768px) {
  .searchForm {
    width: 60%;
    column-gap: 20px;
  }
}