.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.app__header {
  background: url('../images/header-cover.jpg') no-repeat center/cover;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.app__home-header {
  background: url('../images/header-cover.jpg') no-repeat center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20vh;
  align-items: center;
}

.app__title {
  color: #FFF;
  font-size: 60px;
}

.app__link {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

.app__link:hover {
  opacity: 0.8;
}

.app__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.app__search {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  border-radius: 4px;
  padding: 0;
  width: 85%;
}

.app__search-options {
  display: flex;
  justify-content: space-between;
}

.app__books-count {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A6A;
}

.app__book-snippets {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.app__footer {
  width: 100%;
  background: url('../images/footer-cover.jpg') no-repeat center/cover;
  height: 40vh;
  color: #FFF;
}

@media (min-width: 768px) {
  .app {
    row-gap: 40px;
  }

  .app__book-snippets {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .app__content {
    row-gap: 40px;
  }

  .app__search {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .app__book-snippets {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}