@use '../../components/app';

.book {
  display: grid;
  row-gap: 30px;
  column-gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cover {
  border: 1px app.$primary-text-color solid;
  width: 100%;
}

.categories {
  width: 100%;
}

.category {
  display: flex;
  padding: 0 6px;
  background: #EAEAEF;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  height: 16px;
  width: fit-content;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 6px 0;
}

.author {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: app.$secondary-text-color;
  overflow-y: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
}

.reviews {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.star {
  padding: 3px;
}

.link {
  text-decoration: none;
  color: app.$primary-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  transition: opacity 0.3s;
}

.link:hover {
  color: app.$secondary-text-color;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .book {
    grid-template-columns: 330px 1fr;
  }

  .title {
    grid-column: 1 / span 2;
  }

  .cover {
    grid-area: 2 / 1;
  }

  .content {
    grid-area: 2 / 2;
  }
}

@media (min-width: 1440px) {
  .book {
    margin: auto;
    grid-template-columns: 330px 600px;
  }
}